:root{
    --white: #fff;
    --black: #000;
    --accent-color: #ff7000;
}
*{
    margin: 0;
    font-family: Calibri;
}
body{
    height: 100vh;
    width: 100vw;
}
a{
    color: var(--black);
    text-decoration: none;
}
.underline{
    border-bottom: 1px dotted var(--black);
}
.underline:hover{
    border-bottom-style: solid;
}
nav{
    height: 64px;

    background-color: var(--accent-color);
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 8%;
}
.nav-item{
    font-size: 20px;
    border-color: var(--white);
    color: var(--white);
}
main{
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
article{
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}
#avatar{
    border-radius: 50%;
    height: 256px;
    -webkit-user-drag: none;
}
#heading{
    font-size: 40px;
    text-align: center;
}
#description{
    font-size: 20px;
}
.projectImage{
    margin-top: 4px;
    height: 128px;

    background-color: #eeffff;
    border-radius: 25%;
    -webkit-user-drag: none;
}
summary{
    margin-top: 48px;

    text-align: center;
    font-size: 32px;
}
#projects{
    margin-top: 16px;

    font-size: 26px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 32px;
}
@media (max-width: 550px) {
    #projects{
        flex-direction: column;
    }
}
footer{
    width: 100%;
    padding: 24px 0 24px 0;

    color: var(--black);
    user-select: none;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
